*.iml
*.temp
*.DS_Store
**/out/
projectFilesBackup/

**/.idea/*

!.idea/encodings.xml
!.idea/inspectionProfiles/
!.idea/dictionaries/
!.idea/runConfigurations/
!.idea/scopes/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
local.properties
